.steps {
    min-height: 424px;
    position: relative;
    .title {
        padding-top: 80px;
    }
    &__items {
        padding: 40px 132px 0;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        &_icon {
            width: 100px;
            height: 100px;
            background: #F2785C;
            border-radius: 16px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        p {
            padding-top: 30px;
            font-family: 'Aleo';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #0D606F;
        }
    }
    &__calendar-special {
        position: absolute;
        top: 97px;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}