.stories {
    margin-top: 55px;
    &__wrapper {
        background-image: url('../img/background-footer.jpg');
        background-repeat: no-repeat;
        background-position: center 0;
    }
    &__container {
        min-height: 1270px;
        margin-top: 40px;
        background: rgba(255, 255, 255, 0.7);
        padding: 10px 120px 0;
    }
    &__item {
        display: flex;
        gap: 40px;
        margin-top: 26px;
        &_img {
            img {
                filter: drop-shadow(0px 4px 4px #0D606F);
                border-radius: 16px;
            }
        }
        &_dscr {
            h3 {
                font-family: 'Aleo';
                font-style: normal;
                font-weight: 400;
                font-size: 35px;
                line-height: 42px;
                color: #0D606F;
            }
            p {
                padding-top: 24px;
                font-family: 'Aleo';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #0D606F;
                a {
                    color: #0D606F;
                    font-weight: 700;
                }
            }
        }
    }
}